#leftPan  
  %p
    %span.headline 
      %b
        About Us 
    %span.headline2 
      %p
        Dealership history here
      %p{id: 'history', hidden: true}
        We started out as a single car dealership 
        %br
        as soon as we started selling the first car
        %br 
        suddenly we became really big           
      %a.a2{id: 'a-history', href: "#"} read more...
    .clear
#centerPan          
#rightPan
  #services
    %h2
    .serv_item
      %img{alt: "", height: "35", src: "/public/images/img_services.jpg", width: "58"}/
      %p
        %a{href: "#"} listing 1
        %br/
        listing 1
      .clear
    .serv_item
      %img{alt: "", height: "35", src: "/public/images/img_services-11.jpg", width: "58"}/
      %p
        %a{href: "#"} listing 2
        %br/
        listing 2
      .clear
    .serv_item
      %img{alt: "", height: "35", src: "/public/images/img_services-14.jpg", width: "58"}/
      %p
        %a{href: "#"} listing 3
        %br/
        listing 3
      .clear
    .serv_item
      %img{alt: "", height: "35", src: "/public/images/img_services-16.jpg", width: "58"}/
      %p
        %a{href: "#"} listing 4
        %br/
        listing 4
      .clear
.clear