#leftPan
  %a{class: "google-map", href: "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=6512+S.I-35+Service+rd+Oklahoma+City,+OK+73149&aq=&sll=35.667196,-97.407243&sspn=0.157591,0.338173&t=h&ie=UTF8&hq=&hnear=6512+S+I-35+Service+Rd,+Oklahoma+City,+Oklahoma+73149&z=14&ll=35.400303,-97.494622&output=embed"}
    VIEW LARGER MAP
  %iframe{frameborder: "0", height: "350", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=6512+S.I-35+Service+rd+Oklahoma+City,+OK+73149&aq=&sll=35.667196,-97.407243&sspn=0.157591,0.338173&t=h&ie=UTF8&hq=&hnear=6512+S+I-35+Service+Rd,+Oklahoma+City,+Oklahoma+73149&z=14&ll=35.400303,-97.494622&output=embed", width: "425"}
  %br/  
        
#centerPan      
#rightPan
  #services
    %h2
      %p
        %b
          CONTACT INFORMATION
      %hr/
    %h2
      %p
        EAGLE CARS
      %br/
      %p
        6512 S.I-35 Service rd      
        Oklahoma City, OK 73149  
      %p
      %br
        Phone#: 405-677-7675
      %p
        Fax#: 405-601-7675
        
