#leftPan     
  %span.headline
    %b
      Pictures
  %hr{width: '150%'}    
  %p (Click image to see bigger picture)  
  - @images.each do |i|    	     
    %p= "#{Dir.pwd == '/' ? i[/.+\/hafez-web(.+)/ix,1] : i}"   
    %a{class: 'fancybox',rel: 'inventory', href: "#{Dir.pwd == '/' ? i[/.+\/hafez-web(.+)/ix,1] : i}"}
      %img{src: "#{Dir.pwd == '/' ? i[/.+\/hafez-web(.+)/ix,1] : i}", width: '300', height: '168'}
  %hr{width: '150%'}  
  %p
    %a.a2{href: "/listing"}
      (BACK TO VIEW LISTING)
    
#centerPan
#rightPan
  %span.headline
    Specifications
  %hr{width: '100%'}      
  %p Make: Ford
  %p Model: F150
  %p Year: 2001
  %p Mileage: 100000
  %p Engine: 6 liter  
  %p Transmission: Automatic
  %p More specification here...    
           
    
