!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
	%head
		%meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
		%title Hafez Car Dealer
		%script{:type=>"text/javascript", :src=>"http://code.jquery.com/jquery-latest.min.js"}
		%link{:rel=>"stylesheet", :href=>"/public/fancybox/source/jquery.fancybox.css?v=2.1.5", :type=>"text/css", :media=>"screen"}
		%script{:type=>"text/javascript", :src=>"/public/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"}
		%script{:type=>"text/javascript", :src=>"/public/main.js"}					
		%link{href: "/public/css/styles.css", rel: "stylesheet", type: "text/css"}/
	%body
		#container
			#header				
				%ul.menu
					%li.btn_1
						%a{href: "/", title: "home page"} home page
					%li.line
					%li.btn_2
						%a{href: "/about", title: "about us"} about us
					%li.line
					%li.btn_3
						%a{href: "#", title: "car listing"} car listing
					%li.line
					%li.btn_4
						%a{href: "#", title: "edit listing"} edit listing
					%li.line
					%li.btn_5
						%a{href: "/contact", title: "contact us"} contact us
			#content
				=yield
			#footer
				%p
					%a{href: "/"} HOME
					|
					%a{href: "/about"} ABOUT US
					|
					%a{href: "#"} CAR LISTING
					|
					%a{href: "#"} EDIT LISTING
					|
					%a{href: "#"} WEB SUPPORT
					|										
					%a{href: "/contact"} CONTACTS
					%br/
					Copyright © renaldi.sim@gmail.com      