#leftPan    
  %span.headline
    %b= !@dir.nil? ? "Cars on lot"  : "There's no car in the lot"
  %hr    
  - if !@dir.nil?    
    - @dir.each do |d|
      %p      
        %a.a2{href: "/#{d[/.*\/([^\/]+)/ix,1]}"}= d[/.*\/([^\/]+)/ix,1]
  - else
    %p= "Directory is empty"                    
#centerPan

#rightPan