#leftPan
  #welcome    
    %h2
    %p
      %span.headline About our dealership
      %a{href: "/about"} About us
      Special offer?
  #news
    %h2
    %p
      %span Date here / something
      %a{href: "#"} news 2
    %p
      %span Date here / something
      %a{href: "#"} news 3
#centerPan      
  #featured
    %h2
    %p
      %span.headline Featured cars
    .fcar
      %img{alt: "", height: "58", src: "/public/images/img_cars.jpg", width: "101"}/
      %p
        %span.headline2 Dealer history
        %br/
        Put your dealership history here
        %a.a2{href: "#"} read more...
      .clear
    .fcar
      %img{alt: "", height: "58", src: "/public/images/img_cars-12.jpg", width: "101"}/
      %p
        %span.headline2 Headline of your dealership
        %br/
        put something here
        %a.a2{href: "#"} read more...
      .clear
    .fcar
      %img{alt: "", height: "58", src: "/public/images/img_cars-15.jpg", width: "101"}/
      %p
        %span.headline2 Another headline if you want
        %br/
        Put the headline here
        %a.a2{href: "#"} read more...
      .clear
#rightPan
  #services
    %h2
    .serv_item
      %img{alt: "", height: "35", src: "/public/images/img_services.jpg", width: "58"}/
      %p
        %a{href: "#"} listing 1
        %br/
        listing 1
      .clear
    .serv_item
      %img{alt: "", height: "35", src: "/public/images/img_services-11.jpg", width: "58"}/
      %p
        %a{href: "#"} listing 2
        %br/
        listing 2
      .clear
    .serv_item
      %img{alt: "", height: "35", src: "/public/images/img_services-14.jpg", width: "58"}/
      %p
        %a{href: "#"} listing 3
        %br/
        listing 3
      .clear
    .serv_item
      %img{alt: "", height: "35", src: "/public/images/img_services-16.jpg", width: "58"}/
      %p
        %a{href: "#"} listing 4
        %br/
        listing 4
      .clear
.clear
