%h1 
  Contact Information :
%p
  Phone : 555-666-1111  
%p
  Address : 111 Street 222   
%p
  Hours of operation : Mon to Fri - 11am to 6pm    
%div
  %iframe{frameborder: "0", height: "350", marginheight: "0", marginwidth: "0", scrolling: "no", src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=6512+S.I-35+Service+rd+Oklahoma+City,+OK+73149&amp;aq=&amp;sll=35.667196,-97.407243&amp;sspn=0.157591,0.338173&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=6512+S+I-35+Service+Rd,+Oklahoma+City,+Oklahoma+73149&amp;z=14&amp;ll=35.400303,-97.494622&amp;output=embed", width: "425"}
  %br   
  %a{class: "google-map", href: "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Penn+Square+Mall,+Northwest+Expressway,+Oklahoma+City,+OK&aq=0&oq=pennsqu&sll=35.309049,-98.716558&sspn=5.584047,10.26123&t=h&ie=UTF8&hq=Penn+Square+Mall,+Northwest+Expressway,+Oklahoma+City,+OK&ll=35.52474,-97.543965&spn=0.018162,0.032015&output=embed"}
  Open in new Window    
    
    
    
   
  
  
