%h1
  Picture Gallery
%br  
%p
  %a{:class=>"fancybox", :rel=>"Car_collection", :href=>"/public/images/blue-camaro.jpg"}
    %img{:src=>"/public/images/blue-camaro_small.jpg", :alt=>"Navy Blue Camaro"}  
  %a{:class=>"fancybox", :rel=>"Car_collection", :href=>"/public/images/bmw-m3.jpg"}
    %img{:src=>"/public/images/bmw-m3_small.jpg", :alt=>"White BMW M3"}
  %a{:class=>"fancybox", :rel=>"Car_collection", :href=>"/public/images/red-camaro.jpg"}
    %img{:src=>"/public/images/red-camaro_small.jpg", :alt=>"Red Camaro"}  
  %a{:class=>"fancybox", :rel=>"Car_collection", :href=>"/public/images/red-camaro.jpg"}
    %img{:src=>"/public/images/red-camaro_small.jpg", :alt=>"Red Camaro"}